@using SIProject.Models.Entreprises.Immobilisation
@using SIProject.Models.Structures.Immobilisation
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Home";
    StructImmobilier sc = new StructImmobilier();
}

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="pb-1 mb-4">IMMOBILISATION</h4>
        <hr />
        <div class="row mb-5" style="display: grid; grid-template-columns: 33.33% 33.33% 33.33%;">
            @foreach(CategorieImmo categorie in sc.categories)
            {
                <a href="@Url.Action("Categories", "Immobilisation", new { idCategorieImmo = categorie.Id, nomPage = categorie.Nom })">
                    <div class="col-md ese-list-card">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">@categorie.Label</h5>
                                <p class="card-text">
                                </p>
                                <p class="card-text"><small class="text-muted">vers la page</small></p>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>
        <div class="content-backdrop fade"></div>
    </div>
</div>
